apiVersion: apps/v1
kind: Deployment
metadata:
  name: bloom-website
  labels:
    app: bloom-website
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bloom-website
  template:
    metadata:
      labels:
        app: bloom-website
    spec:
      containers:
      - name: bloom-website
        image: ${DOCKER_IMAGE}
        ports:
        - containerPort: 3000
        env:
        - name: NODE_ENV
          value: "production"
        - name: NEXT_PUBLIC_API_BASE_URL
          valueFrom:
            secretKeyRef:
              name: bloom-website-secrets
              key: NEXT_PUBLIC_API_BASE_URL
              optional: false
        - name: NEXT_PUBLIC_API_KEY
          valueFrom:
            secretKeyRef:
              name: bloom-website-secrets
              key: NEXT_PUBLIC_API_KEY
              optional: false
        resources:
          limits:
            cpu: "1"
            memory: "1Gi"
          requests:
            cpu: "500m"
            memory: "512Mi"
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 20 