name: CI for bloom webiste

on:
  # We must do a trigger on a push: instead of a types: closed so GitHub Secrets
  # are available to the workflow run
  push:
    branches:
      - 'main'
  workflow_dispatch:

env:
  # Safeguard to prevent pushing images to registeries after build
  PUSH_TO_REGISTRIES: true

jobs:
  build-runners:
    name: Trigger Build and Push of Runner Images
    runs-on: [self-hosted, python3]
    steps:
      - uses: actions/checkout@v3
      - name: Set Docker auth
        run: |
          gcloud auth configure-docker --quiet
          gcloud auth configure-docker europe-docker.pkg.dev
      - name: Build docker image
        run: |
          docker build -t europe-docker.pkg.dev/divine-bonbon-446705-p9/boolmx-docker/bloom-website:$(git rev-parse --short "$GITHUB_SHA") . --network=host
      - name: Push docker image
        run: |
          docker push europe-docker.pkg.dev/divine-bonbon-446705-p9/boolmx-docker/bloom-website:$(git rev-parse --short "$GITHUB_SHA")
  deploy_livestage:
      name: Deploy to Livestage
      runs-on: [self-hosted, python3]
      needs: build-runners
      if: github.ref == 'refs/heads/main'
      steps:
        - name: Checkout code
          uses: actions/checkout@v3
          with:
            repository: bloomxlab/helm-chart
            ref: main
            token: ${{ secrets.PUSH_TOKEN }}
  
        - name: Update version and commit
          run: |
            cd ./bloom-website
            sed -i "s/tag: \S*/tag: $BUILD_TAG/g" values.yaml
            git config --global user.email "devops@bloomx.com"
            git config --global user.name "Automation"
            git add values.yaml
            git commit -m "updating image tag version"
            git push
